 @font-face {
    font-family: 'alegreyablack';
    src: url('khalegreya-black-webfont.woff2') format('woff2'),
         url('khalegreya-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyablack_italic';
    src: url('khalegreya-blackitalic-webfont.woff2') format('woff2'),
         url('khalegreya-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyabold';
    src: url('khalegreya-bold-webfont.woff2') format('woff2'),
         url('khalegreya-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyabold_italic';
    src: url('khalegreya-bolditalic-webfont.woff2') format('woff2'),
         url('khalegreya-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaitalic';
    src: url('khalegreya-italic-webfont.woff2') format('woff2'),
         url('khalegreya-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyaregular';
    src: url('khalegreya-regular-webfont.woff2') format('woff2'),
         url('khalegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 body, .font-a-regular {
   font-family: 'alegreyaregular', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }

 .font-a-regular-italic {
   font-family: 'alegreyaitalic', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }

 .font-a-bold {
   font-family: 'alegreyabold', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }

 .font-a-bold-italic {
   font-family: 'alegreyabold_italic', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }

 .font-a-black {
   font-family: 'alegreyablack', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }

 .font-a-black-italic {
   font-family: 'alegreyablack_italic', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
 }
