{{ $baseURL :=  .Site.BaseURL }}

<!DOCTYPE html>
<html lang='en'>

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="description" content="The poor, the invisible, the outsiders --
     what Jesus has to say about marginalized people.">
     <title>
       What Jesus has to say about marginalized people
     </title>
</head>
<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/tw.css">
<!-- Fontawesome -->
<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/all.css">


<body class="bg-white">


  <header>
    <div class="bg-paper font-r leading-normal px-8 md:px-24 lg:px-40 py-6 text-grey-darkest">
      "Growing in malevolence and more and more prone to violence, the American
      Church is becoming a safe haven for those who have contempt for the very
      people Jesus spent his life caring and advocating for; the poor, the
      invisible, the outsiders, the marginalized." -
      <a class="no-underline text-white hover:text-grey-darkest" href="https://johnpavlovitz.com/2018/03/12/the-sin-of-mainline-protestant-silence/">
        John Pavlovitz, The Sinful Silence of Mainline Christian Pastors
      </a>
    </div>
    <h1 class="font-r-bold pt-16 pb-2 text-3xl md:text-4xl lg:text-5xl text-center text-dusty">
      The Poor, the Invisible, the Outsiders
    </h1>
    <h2 class="font-r-bold pb-16 text-2xl md:text-2xl lg:text-3xl text-center text-lavendar">
      What Jesus Has to Say About Marginalized People
    </h2>
    <div class="hidden md:flex md:px-24 lg:px-32 font-r justify-around mb-12 py-4 border-t border-b border-lavendar">
      <a href="{{ $baseURL }}" class="no-underline text-lavendar">Home</a>
      <a href="{{ $baseURL }}tags/matthew" class="no-underline text-lavendar">Matthew</a>
      <a href="{{ $baseURL }}tags/mark" class="no-underline text-6lavendar">Mark</a>
      <a href="{{ $baseURL }}tags/luke" class="no-underline text-lavendar">Luke</a>
      <a href="{{ $baseURL }}tags/john" class="no-underline text-lavendar">John</a>
      <a href="{{ $baseURL }}tags/outsiders" class="no-underline text-lavendar">Outsiders</a>
      <a href="{{ $baseURL }}tags/rich" class="no-underline text-lavendar">Rich</a>
      <a href="{{ $baseURL }}tags/poor" class="no-underline text-lavendar">Poor</a>
    </div>
  </header>
