{{ $baseURL :=  .Site.BaseURL }}

{{ partial "top" . }}

<main>

  <header class="bg-paper font-r-bold py-8 text-2xl md:text-3xl lg:text-4xl mb-16 text-center text-grey-darkest">
    {{ .Title }}
  </header>

  {{ range (.Paginator 20).Pages.ByParam "sequence" }}

    <article class="mb-8">

        <div class="flex">
          <div class="lg:w-1/6">

          </div>
          <div class="px-8 md:px-32 lg:px-0 lg:w-2/3">
            <header>
              <div class="font-r-bold mr-1 pb-4 text-2xl md:text-3xl lg:text-4xl text-grey-darkest ">
                {{ .Title }}
              </div>
              <div class="font-r text-sm pb-4 text-lavendar">
                {{ .Params.book }} {{ .Params.chapter_verse }}
                {{ range .Params.tags }}
                  <span class="bg-paper mx-1 py-0 px-2 rounded">
                    <a class="text-grey-darker text-sm roman no-underline" href="{{ $baseURL }}tags/{{ lower . }}" >
                      {{ . }}
                    </a>
                  </span>
                {{ end }}
              </div>
            </header>
            <section class="font-r text-lavendar md:text-lg leading-tight md:leading-normal lg:leading-normal-loose">
              {{ .Content }}
            </section>
          </div>
          <div class="lg:w-1/6"></div>
        </div>
    </article>

  {{ end }}

</main>

<footer class="">

</footer>


{{ partial "bottom" . }}
